form {
  .form-group {
    .form-control {
      &.form-control-select {
        padding: 0;
        border: 0;
        cursor: pointer;

        .ant-select-selector {
          border-radius: 4px;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          line-height: 1.5;
          align-items: center;
        }
      }
    }
  }
}